form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1em;
}

.signup-form {
  margin: 0 auto;
}

.error-message {
  color: firebrick;
  font-size: 0.75em;
}

.button-div {
  margin: 1em;
}
