.profile-page {
  width: 100%;
  padding: 2em;
  margin: auto;
}

.placeholder-image {
  width: 40px;
  height: 50px;
  background-color: gray;
}

.single-item {
  margin-right: 5px;
}

.header-link {
  background: none !important;
  border: none;
  padding: 0 !important;
}

p.subtext {
  font-size: 0.75em;
  color: cadetblue;
}

.sidebar {
  height: 100% !important;
  width: 256;
}

.icon {
  width: 35px;
  height: 35px;
}
