.profile-page {
  width: 100%;
  padding: 2em;
  margin: auto;
}

.placeholder-image {
  width: 80px;
  height: 100px;
  background-color: gray;
}

.placeholder-image-large {
  width: 400px;
  height: 500px;
  background-color: gray;
}

.single-item {
  margin-right: 5px;
}

.header-link {
  background: none !important;
  border: none;
  padding: 0 !important;
}

p.subtext {
  font-size: 0.75em;
  color: cadetblue;
}

p.subhead {
  font-size: 0.75em;
  color: gray;
}

h1.list-title {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: -0.5;
}

.sidebar {
  height: 100% !important;
  width: 256;
}

.icon {
  width: 35px;
  height: 35px;
}

.item-details {
  width: 100%;
  padding: 2em;
  margin: auto;
}
